.contactoSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #565151;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.contenedorFormulario {
    display: flex;
    flex-direction: row;
}

.imagenFormulario {
    width: 35%;
    object-fit: cover; 
}

.formulario {
    width: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #866b4f;
    font-size: 1rem;
}

.formulario p {
    margin: 1rem; 
}

.entrada {
    width: 50%;
}

.entrada label {
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.entrada input, .entrada textarea {
    background-color: #866b4f;
}

.botonFormulario {
    text-transform: uppercase;
    color: #866b4f;
    border: 4px solid #866b4f;
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
}

.botonFormulario:hover {
    color:#bca177;
    border: 4px solid #bca177;
}

/* diseño responsivo */
@media screen and (max-width: 425px) {
    .contenedorFormulario {
        flex-direction: column;
    }

    .imagenFormulario, .formulario {
        width: 100%;
    }

    .entrada {
        width: 90%;
    }
}