.localesSection {
    width: 100%;
    background-color: #565151;
    color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
 }

 .navegacionSitio {
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
 }

 .col {
    min-width: 15%;
    max-width: 20%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
 }
 
 .imgCol {
    background-image: url("../img/logo/LogoHumaya100x100.png");
    background-repeat: no-repeat;
    background-position:top
 }
 
.tituloCol {
    text-transform: uppercase;
    color: #bca177;
    text-align:start;
    height: 5vh;
    font-size: 1.2rem;
}

.listaCol { 
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.listaCol-Item {
    text-transform: capitalize;
}

.listaCol-Link {
    text-decoration: none;
    color: white;
}

.listaCol .listaCol-Item .listaCol-Link .iconoRed {
    display: flex;
    align-items: flex-start;
}

.iconoRed { 
    filter: invert(1); 
    max-width: 10%;
    object-fit: cover;
    margin: 0.25rem;
}

@media screen and (max-width: 375px) {
    .localesSection{
        display: none;
    }
}


