.recetasSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #565151;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.recetas {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    border: none;
    max-width: 30%;
    height: 55vh;
}

.card-img-top {
    height: 25vh;
    object-fit: cover;
}

.card-body {
    background-color: #bca177;
    border: 0;
    color: white;
    height: 30vh;
}

.card-title {
    text-transform: uppercase;
    font-size: 1.25rem;
    height: 4vh;
}

.card-text {
    font-size: 1rem;
    height: 11vh;
}

.botonPreparacion {
    color: #866b4f;
    border: 2px solid #866b4f;
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    height: 5vh;
}

.botonPreparacion:hover{
    border: 2px solid white;
}

@media only screen and (max-width: 425px) {
    .recetas {
        flex-wrap: wrap;
    }
    
    .card {
        min-width: 80%;
        margin: 1rem 0;
    }
}