.recetasSection {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #565151;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    height: 70vh;
}

.carousel {
    width: 100%;
}

.slide {
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    height: 50vh;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    
}

.item {
    width: 90%;
    height: 100%;
    transition: all .5s ease;
    transform: translateX(0%);
}

.card {
    border: none;
    width: calc( 90 / 3 );
    height: 100%;
    margin: 0.5em;
} 

.card-img-top {
    height: 25vh;
    object-fit: cover;
}

.card-body {
    background-color: #bca177;
    color: white;
    height: 30vh;
}

.card-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 4vh;
}

.card-text {
    font-size: 1rem;
    height: 11vh;
}

.botonPreparacion {
    color: #866b4f;
    border: 2px solid #866b4f;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    height: 5vh;
}

.botonPreparacion:hover{
    border: 2px solid white;
}

.puntos {
    width: 100%;
    padding: 0.4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.punto {
    width: 2rem;
    height: 2rem;
    margin: 1em 1em 0;    
}

.punto.activo {
    color: #bca177;
}

@media only screen and (max-width: 768px) {
    .recetas {
        flex-wrap: wrap;
    }
    
    .card {
        min-width: 80%;
        margin: 1rem 0;
    }
}